.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
	background: linear-gradient(0deg, #000, #272727);
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: blue;
    outline: 1px solid black;
  }
  
  
  .mini-grid {
    margin-left: 45px;
    margin-top: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background:rgba(237, 222, 221,1);
  }

  #score{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }
  
  .mini-grid-container{
      text-align: center;
      border-radius: 10px;
      background:rgba(237, 222, 221,1);
      height:250px;
      width: 150px;
      margin-top: 50px;
      margin-left: 50px;
  }

  body{
      /* display: flex;
      justify-content: center;
      margin-top:150px; */
      text-align: center;
      background-color: #000;
  }

  .grid-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  #start-button{
      margin-left:50px;
  }

  h1{
      font-size: 50px;
      color: oldlace;
      font-family: 'Roboto Slab', serif;
  }

  h2{
      font-size: 30px;
      color: oldlace;
      font-family: 'Roboto Slab', serif;
  }
  h3{
      font-family: 'Roboto Slab', serif;
  }

  .grid:before, .grid:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.grid:after {
	filter: blur(50px);
}

button {
    width: 110px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}